body,html{
    background: #F2F4F3!important;
    height: 100vh;
    display: flex;
    flex-direction: column
}


/*
NAVBAR
*/

.navbar{
    background-color: #080708;
}
/* change the brand and text color */
.navbar .navbar-brand,
.navbar .navbar-text {
    color:#F2F4F3;
}
/* change the link color */
.navbar .navbar-nav .nav-link {
    color:#F2F4F3;
    font-family: 'Lato', sans-serif;
}
/* change the color of active or hovered links */
.navbar .nav-item.active .nav-link,
.navbar .nav-item:hover .nav-link {
    color:#F2F4F3;
}
.navbar a:hover{
    color: rgb(150, 179, 83)
}

/*
HEADER
*/

#header {
    background: #233D4D;
    margin: 0;
    padding: 25px 0;
    display: flex;
    align-items: center;
    flex:8;
}

#header img{
    margin: 0 auto;
}

/*
FORM app
*/
.app{
    background: #F2F4F3;
    flex: 30;
    font-family: 'Jost', sans-serif;
}


/*
TYPO, BTN app
*/


.app .btn ,.edit-account .btn{
    width: max-content;
    margin: 0 auto;
    border-radius: 25px;    
    background: #A9927D!important;
    border: none;
    color: white !important;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.356); 
}

.app .btn:focus,
.btn:active, .btn:hover{
    transition: 0.2s;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    color: white !important;
}

/*
PAGE HOME
*/


.app .title-content{
    padding: 10px 0;
    text-align: center
}

.app h1{
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.219);
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.app p{
    margin-top: 40px;
    font-weight: 200;
}

.home .container-content{
    margin: 0 auto;
    width: 80%
}


/*
ACCOUNT
*/

.account .container-content{
    margin: 20px auto;
    width: 100%;
    font-size: 18px;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: start
}

.block-profile{
    margin: 5px 0;
}

.block-profile p,h5,h1{
    display: inline;
    margin: 0; 
}

.title-content i{
    transform: translateY(-3px) translateX(10px);
    color: #A9927D;
    font-size: 20px;
}


.title-content i:hover{
    transform: translateY(-3px) translateX(10px);
    transition: 0.2s;
    color: rgb(145, 126, 108)
}

/*
EDITE ACCOUNT
*/

.edit-account{  
    margin: 20px auto;
    width: 50%;
}

.edit-account .btn-secu{  
    display: flex;
    justify-content: space-between;
}
.edit-account .form-group{
    display: flex;
    flex-direction: column
}
.edit-account label {  
    margin: 10px auto;
}

.edit-account input{  
    width: 100%;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.411);
}

.edit-account input:hover{
    transition: 0.2s;
    width: 98%;
    margin: 0 auto;
}

.edit-account input:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.377);
    width: 98%;
}


/*
FOOTER
*/

footer{
    width: 100%;
    background: #080708;
    text-align: center;
    flex:1;
    color:#F2F4F3;
}

