{% extends 'emails/index.html.twig' %}
{% block body %}
    <section class="jumbotron jumbotron-fluid text-center">
        <h1 class="display-4">Terre Plurielle Fondation Bouygues Construction</h1>
        <hr>
        <p class="lead">Mot de passe oublié</p>
    </section>

    <div class="container">
        <p class="font-weight-bold">Bonjour {{ email }},</p>
        <p>Voici le lien pour réinitialiser votre mot de passe</p>
        <a class="btn btn-primary" href="{{ url('app_reset_password_confirm', { 'token': token , 'username': username}) }}">réinitialiser mon mot de passe</a>
        <p><small>Ce message est envoyé automatiquement, merci de ne pas y répondre.</small></p>
    </div>

{% endblock %}

